<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DatatouristUCZ</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="shortcut icon" type="image/x-icon" href="../static/img/logo.png" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <link rel="stylesheet" href="../static/css/MarkerCluster.css"/>
    <link rel="stylesheet" href="../static/css/MarkerCluster.Default.css"/> 
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <link rel="stylesheet" href= "../static/css/leaflet-routing-machine.css"/>
    <link rel="stylesheet" href="../static/css/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="../static/css/ControlGeocoder.css" />   
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-draw/dist/leaflet.draw.css" />
    
</head>
<body>
    <div class="logo">
        <a href="">
            <img src="../static/img/logo.png" alt="logo" title="Logo">
        </a>
    </div>

    <div class="container">
       <button id="openBtn_sidePanel"><img src="../static/img/chevron-right.svg"></button>
        <div id="sidePanel">  
            <div class="container-distance-slider">
                <div class="dist-txt-button">
                    <div class="txt-dist">
                        <p class="distance">Distance en km pour les lieux</p>
                    </div>
                    <div class="reload">
                        <button id="reloadButton" class="Btn"><img src="../static/img/refresh.svg" atl="refreshRoute" title="Rafraichir l'itinéraire"></button>
                    </div> 
                </div>
                <input type="range" id="distance" min="1" max="7" step="1" value="0">
                <div class="labels">
                    <label for="distance" class="dist_lab">0.3</label>
                    <label for="distance" class="dist_lab">0.5</label>
                    <label for="distance" class="dist_lab">1</label>
                    <label for="distance" class="dist_lab">2</label>
                    <label for="distance" class="dist_lab">5</label>
                    <label for="distance" class="dist_lab">10 </label>
                    <label for="distance" class="dist_lab">20 </label>
                    <p></p>
                </div>
            </div>

            <div class="choice_start_arr">
                <div class="start_arr" id="start">
                    <div class="delete">
                        <button class="deleteBtn" id="deleteBtn_start"><img class="img_delete" src="../static/img/Croix.svg"></button>
                    </div>
                </div>
                
                <div class="reverse" >
                    <button id="reverseBtn" class="Btn"><img src="../static/img/repeat.svg"></button>
                </div>
                
                <div class="start_arr" id="arrival">
                    <div class="delete">
                        <button class="deleteBtn" id="deleteBtn_arrival" ><img class="img_delete" src="../static/img/Croix.svg"></button>
                    </div>
                </div>
                
                <div class="loading-container" id="loading-container1">
                    <div class="loading-spinner" id="loading-spinner1"></div>
                </div>
                <div class="loading-container" id="loading-container2">
                    <div class="loading-spinner" id="loading-spinner2"></div>
                </div>
                <div class="loading-container" id="loading-container3">
                    <div class="loading-spinner" id="loading-spinner3"></div>
                </div>
            </div>
        
            <div class="container-toggle">
                <div class="toggle-img">
                    <img src="../static/img/map.svg" alt="Map" title="Activez pour afficher les données proche de l'itinéraire">
                </div>
                <div class="toggle-switch">
                    <input type="checkbox" id="toggleSwitch" class="checkbox" checked="false">
                    <label for="toggleSwitch" class="slider"></label>
                </div>
                <div class="toggle-img">
                    <img class="img_france" src="../static/img/france.png" alt="France" title="Activez pour utiliser les outils">
                </div>
            </div>
            
            <div class="checkbox-container">
                <form id="checkbox-form">
                </form>
            </div>
            <button id="closeBtn_sidePanel"><img src="../static/img/chevron-left.svg"></button>
        </div>
        
    <div id="mainContent">
        <div id="leaflet-top"></div>
        <div id="map"></div>
        <button id="openBtn_sideItinerary"><img src="../static/img/chevron-left.svg"></button>
        <div id="sideItinerary">
            <div id="itinerary"></div>
            <button id="closeBtn_sideItinerary"><img src="../static/img/chevron-right.svg"></button>
        </div>
            <button id="openBtn_sideLocations"><img src="../static/img/chevron-left.svg"></button>
       
        <div id="sideLocations">
            <button id="closeBtn_sideLocations"><img src="../static/img/chevron-right.svg"></button>
        </div>
    </div>
    
</div>  


     <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
    <script src="../static/js/leaflet-routing-machine.js"></script>
    <script src="../static/js/leaflet.markercluster.js"></script>
    <script src="../static/js/ControlGeocoder.js"></script>
    <script src="https://unpkg.com/@turf/turf@7.0.0-alpha.2/turf.min.js"></script>
    <script src="https://unpkg.com/leaflet-draw/dist/leaflet.draw.js"></script>
    
    <script src="../static/js/main.js"></script>
</body>
<footer>

</footer>
</html>
